# CASTONE PROJECT 3

This Project is Part of Purwadhika Bootcamp DTI Data Analyst/Science

## Business Definition

In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data_telco_customer_churn.csv')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4930 entries, 0 to 4929
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Dependents        4930 non-null   object
 1   tenure            4930 non-null   int64
 2   OnlineSecurity    4930 non-null   object
 3   OnlineBackup      4930 non-null   object
 4   InternetService   4930 non-null   object
 5   DeviceProtection  4930 non-null   object
 6   TechSupport       4930 non-null   object
 7   Contract          4930 non-null   object
 8   PaperlessBilling  4930 non-null   object
 9   MonthlyCharges    4930 non-null   float64
 10  Churn             4930 non-null   object
dtypes: float64(1), int64(1), object(9)
memory usage: 423.8+ KB

- `Dependents`: Whether the customer has dependents or not.
- `Tenure`: Number of months the customer has stayed with the company.
- `OnlineSecurity`: Whether the customer has online security or not.
- `OnlineBackup`: Whether the customer has online backup or not.
- `InternetService`: Whether the client is subscribed to Internet service.
- `DeviceProtection`: Whether the client has device protection or not.
- `TechSupport`: Whether the client has tech support or not
- `Contract`: Type of contract according to duration.
- `PaperlessBilling`: Bills issued in paperless form.
- `MonthlyCharges`: Amount of charge for service on monthly bases.
- `Churn`: Whether the customer churns or not.

In [4]:
df.describe()

            tenure  MonthlyCharges
count  4930.000000     4930.000000
mean     32.401217       64.883032
std      24.501193       29.923960
min       0.000000       18.800000
25%       9.000000       37.050000
50%      29.000000       70.350000
75%      55.000000       89.850000
max      72.000000      118.650000

In [5]:
df.describe(include='object')

,Dependents,OnlineSecurity,OnlineBackup,InternetService,DeviceProtection,TechSupport,Contract,PaperlessBilling,Churn
count,4930,4930,4930,4930,4930,4930,4930,4930,4930
unique,2,3,3,3,3,3,3,2,2
top,No,No,No,Fiber optic,No,No,Month-to-month,Yes,No
freq,3446,2445,2172,2172,2186,2467,2721,2957,3614

In [6]:
df.head()

,Dependents,tenure,OnlineSecurity,OnlineBackup,InternetService,DeviceProtection,TechSupport,Contract,PaperlessBilling,MonthlyCharges,Churn
0,Yes,9,No,No,DSL,Yes,Yes,Month-to-month,Yes,72.90,Yes
1,No,14,No,Yes,Fiber optic,Yes,No,Month-to-month,Yes,82.65,No
2,No,64,Yes,No,DSL,Yes,Yes,Two year,No,47.85,Yes
3,No,72,Yes,Yes,DSL,Yes,Yes,Two year,No,69.65,No
4,No,3,No internet service,No internet service,No,No internet service,No internet service,Month-to-month,Yes,23.60,No

In [7]:
df.PaperlessBilling.value_counts()

PaperlessBilling
Yes    2957
No     1973
Name: count, dtype: int64

In [12]:
df.isnull().sum()

Dependents          0
tenure              0
OnlineSecurity      0
OnlineBackup        0
InternetService     0
DeviceProtection    0
TechSupport         0
Contract            0
PaperlessBilling    0
MonthlyCharges      0
Churn               0
dtype: int64